.leftbar_image {
	height: 490px;
	float: left;
	display: block;
	position: fixed;
	margin-left: 50px;

}


.button {
height: 50px;
width: 200px;
font: gotham;
font-size: 14px;
border:none;
color: white;
background-color: #00acee;
border-radius: 50px;
margin-left: 150px;
font-weight: bold;
position: fixed;
float: left;
display: block;
margin-top: 500px; 

}

.dmbar_image {
	height: 580px;
	float:right;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 407px;
	position: fixed;
}

.tweetbox_image {
height: 200px;
float: right;
display: inline-block;
position: absolute;
margin-left: 780px;
}



.dm_image {
	height: 890px;
	float: right;
	position: absolute;
	margin-left: 775px;
	margin-top: : 300px;
	padding-top: 200px;
}